html{
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Handlee', cursive; */
    font-family: 'Montserrat', sans-serif;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

.hr-style{
    border: 5px dotted white;
    text-decoration: dotted;
    border-bottom: none;
    width: 125px;
    position: relative;
    left: 576px;
}

header{
    background-image: url("images/banner.jpg");
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.banner-container{
    height: 100vh;
}

.navbar{
    padding:1% 10%;
    background-color: rgba(0,0,0,0.3);
}

.navbar-icon{
    color: white;
}

.nav-link{
    color: white;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
}
.nav-link:hover{
    background: #2980b9;
    color: white;
    transform: scale(1.1);
}

.banner-container h1{
    font-size: 3rem;
    font-family: 'Handlee', cursive; 
    background-color: rgba(7, 101, 189, 0.5);
    border-radius: 10px;
    padding: 10px 20px;

}


#features{
    background:#16C79A;
    padding: 5% 5%;
}

.features{
   
    padding: 5% 10%;
    background-color: white;
    color: black;
    border: 3px solid gray;
    border-radius: 15px;
    margin: 15px 0px;
    transition: .4s;
   
    
}
.features:hover{
    background:white;
    transform: scale(1.1);
    color: black;
    box-shadow: 10px 10px 10px gray;
    cursor: pointer;
    
}
.icon-style{
    background: #FF67E7;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.about-section h3{
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: bolder;

}

#about-me{
    background:#B8B5FF;
    text-align: center;
    padding: 10px;
}

#about-me p{
    color: black !important;
}
.cv-button{
    cursor: pointer;
}

.text-bold{
    font-weight: 900 !important;
    color: black !important;
}

.star i{
   color: goldenrod;
   
  
}
.table-area{
    position: relative;
    left: 125px;
}

.card{
    border-radius: 10px;
    transition: .4s;
}

.card:hover {
    box-shadow: 10px 10px 10px gray;
    transform: scale(1.1);
    
}

#saiful{
    padding: 5% 5%;
    background-color: cornflowerblue;
}
.saiful{
    color: white;
    margin-bottom: 10px;
}

.carousel-item{
    text-align: center;
}
.carousel-item img{
    width: 300px;
    height: auto;
    margin-bottom: 5px;
}
.carousel-inner{
    text-align: center;
}

#feedback{
    background-color: #D62AD0;
    padding: 10%;
}
#contact{
    background-color: teal;
    padding: 5%;
}

    

.form-group label{
    color: black;
    font-weight: 900;
}

#footer{
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
   justify-content: center;
   align-items: center;
}
.footer-desc a{
color: white;
text-decoration: none;
}
.footer-desc a i{
    margin-right: 1px;
    padding: 10px;
    font-size: larger;
    
}
.footer-desc i:hover{
    color:lightskyblue;
    font-weight: 900;
}